<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Tivo admin template" />

    <title>@ViewBag.Title - Admin Panel</title>

    <link rel="icon" href="~/Areas/Admin/Content/assets/images/favicon/favicon.png" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <!-- Icons -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/vendors/icofont.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/vendors/themify.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/vendors/flag-icon.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/vendors/feather-icon.css" />

    <!-- Scrollbar + Animations -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/vendors/scrollbar.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/vendors/animate.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/vendors/chartist.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/vendors/prism.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/vendors/vector-map.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/vendors/bootstrap.css" />

    <!-- DataTables -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/vendors/datatables.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/vendors/datatable-extension.css" />

    <!-- Dropify -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/Dropify/css/dropify.min.css" />

    <!-- iziToast -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/izitoast/iziToast.min.css" />

    <!-- Main App CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/style.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/color-1.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/responsive.css" />

    @RenderSection("Styles", required: false)
</head>

<body onload="startTime()">

    <div class="tap-top"><i data-feather="chevrons-up"></i></div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">

        @Html.Action("Header", "Admin")

        <div class="page-body-wrapper">

            @Html.Action("Menu", "Admin")

            @RenderBody()

            @Html.Action("Footer", "Admin")

        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Areas/Admin/Content/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Areas/Admin/Content/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Feather Icons -->
    <script src="~/Areas/Admin/Content/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- Scrollbar -->
    <script src="~/Areas/Admin/Content/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/scrollbar/custom.js"></script>

    <!-- Sidebar -->
    <script src="~/Areas/Admin/Content/assets/js/config.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/sidebar-menu.js"></script>

    <!-- Prism + Copy -->
    <script src="~/Areas/Admin/Content/assets/js/prism/prism.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/clipboard/clipboard.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/custom-card/custom-card.js"></script>

    <!-- iziToast -->
    <script src="~/Areas/Admin/Content/izitoast/iziToast.min.js"></script>

    <!-- Dropify -->
    <script src="~/Areas/Admin/Content/Dropify/js/dropify.min.js"></script>

    <!-- DataTables -->
    <script src="~/Areas/Admin/Content/assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/datatable/datatables/datatable.custom.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/datatable/datatable-extension/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/datatable/datatable-extension/dataTables.responsive.min.js"></script>

    <script>
        function startTime() { return true; }

        $(document).ready(function () {

            // Icons
            if (feather) feather.replace();

            // Dropify 
            $('.dropify').dropify();

        });
    </script>
    <script>
        // Bootstrap custom validation
        (function () {
            'use strict';

            var forms = document.querySelectorAll('.needs-validation');

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
        })();
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
