@using (Html.BeginForm("SaveEngineeringServicesFeatures", "Admin", FormMethod.Post, new { @class = "needs-validation", enctype = "multipart/form-data", novalidate = "novalidate" }))
{
    <div class="row g-3">
        <div class="col-md-4">
            <label class="form-label">Engineering Services Features </label>
            @Html.DropDownListFor(m => m.Engineering_Services_Features_Obj.FK_Engineering_Services_Id, new SelectList(Model.List_Engineering_Services_Obj, "Engineering_Services_Id", "Engineering_Services_Name"), "-- Engineering Services Name --", new { @class = "form-control", @id = "validationCustom01", @required = "required" })
            <div class="invalid-feedback">
                Please enter Engineering Services Features name.
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Engineering Services Features Name</label>
            @Html.TextBoxFor(m => m.Engineering_Services_Features_Obj.Engineering_Services_Feature_Name, new { @class = "form-control", @placeholder = "Enter Engineering Services Features name", @required = "required" })
            <div class="invalid-feedback">
                Please enter Engineering Services Features name.
            </div>
        </div>

        <div class="col-md-4">
            <label class="form-label">EEngineering Services Feature Icon Class</label>
            @Html.TextBoxFor(m => m.Engineering_Services_Features_Obj.Engineering_Services_Feature_IconClass, new { @class = "form-control", @placeholder = "Engineering Services Feature Icon Class", @required = "required" })
            <div class="invalid-feedback">
                Please enter page title.
            </div>
        </div>
    </div>

    <div class="row g-3 mt-2">
        <div class="col-md-6">
            <label class="form-label">Engineering Services Feature Description</label>
            @Html.TextAreaFor(m => m.Engineering_Services_Features_Obj.Engineering_Services_Feature_Description, new { @class = "form-control", @rows = "5", @placeholder = "Engineering Services Feature Description", @required = "required" })
            <div class="invalid-feedback">
                Please enter Engineering Services Feature Description.
            </div>
        </div>
    </div>
    @Html.HiddenFor(x => x.Engineering_Services_Features_Obj.Engineering_Services_Feature_Id)
    @Html.HiddenFor(x => x.Engineering_Services_Features_Obj.Engineering_Services_Feature_Code)

    <div class="row g-3 mt-3">
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">Save Engineering Services Features</button>
        </div>
    </div>
}
